<h1>Notizblock</h1>

<h3 class="error">{{reterror?.status}} {{reterror?.statusText}} </h3>

<form *ngIf="!themen;else logoutTemp">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input [(ngModel)]="user" name="user" matInput required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input [(ngModel)]="pass" name="user" matInput type="password" required>
  </mat-form-field>

  <button mat-raised-button type="submit" (click)="showThemen()" color="accent">Login</button>
</form>

<ng-template #logoutTemp>
  <p>Eingeloggt als {{user}}</p>
  <button mat-raised-button (click)="themen = null; pass = null" color="accent">Logout</button>
</ng-template>


<div *ngIf="themen;else keineThemen">

  <hr>

  <form [formGroup]="myForm">
    <mat-form-field>
      <mat-label>Titel</mat-label>
      <input matInput formControlName="ueberschrift">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Text</mat-label>
      <input matInput formControlName="text">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Thema</mat-label>
      <mat-select formControlName="thema">
        <mat-option *ngFor="let t of themen" [value]="t.nummer">
          {{t.beschreibung}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit" (click)="addNotiz()" color="primary">Add</button>
  </form>

  <ng-template #keineThemen>Ungültiger Benutzer</ng-template>

  <!-- {{notizen | json}} -->

  <form [formGroup]="sortForm">
    <mat-form-field>
      <mat-label>Sort Order</mat-label>
      <mat-select formControlName="sort" (selectionChange)="changeSort($event)">
        <mat-option *ngFor="let s of sorts" [value]="s.v">
          {{s.d}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <table align="center">
    <tr *ngFor="let n of notizen">
      <td>
        <mat-icon>{{n.gelesen ? 'folder_open' : 'folder'}}</mat-icon>
      </td>
      <td>
        {{n.ueberschrift}} {{n.text}}
      </td>
      <td>{{n.thema.beschreibung}}</td>
      <td>{{n.erstellungsdatum}}</td>
      <td>
        <button mat-raised-button (click)="editNotiz(n)" color="primary">Edit</button>
        <button mat-raised-button (click)="deleteNotiz(n.nummer)" color="primary">Delete</button>
      </td>
    </tr>
  </table>
  <p *ngIf="!notizen">Keine Notizen</p>
</div>